---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";

interface Props {
    grids: string;
}

const skills = ["Go", "Templ", "HTMX", "TypeScript", "Tailwind CSS"].sort(
    (a, b) => a.length - b.length,
);

const { grids } = Astro.props;
---

<Card className={`${grids}`}>
    <CardHeader>
        <CardTitle>About me</CardTitle>
    </CardHeader>
    <CardContent>
        <section class="text-pretty dark:prose-invert prose prose-sm">
            <p>
                I enjoy working on projects that solve real problems, and am
                proficient in both Japanese and English.
            </p>
            <h4>Core technical skills</h4>
            <ul>
                {skills.map((skill) => <li>{skill}</li>)}
            </ul>
            <p>
                Though I specialize in backend systems, I enjoy crafting clean
                web experiences that emphasize functionality and visual
                harmony—as demonstrated by this portfolio's design choices.
            </p>
        </section>
    </CardContent>
</Card>
