---
import {
    Card,
    CardDescription,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";

interface Props {
    grids: string;
}

const { grids } = Astro.props;
---

<Card className={`overflow-hidden ${grids}`}>
    <CardHeader>
        <CardTitle>About me</CardTitle>
        <CardDescription>
            <p class="mt-1 leading-5">My primary tools of choice are:</p>
            <ul class="my-3 ml-5 list-disc [&>li]:mt-2">
                <li>Golang</li>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>Tailwind CSS</li>
            </ul>
            Blah, blah, blah. More yapping.
        </CardDescription>
    </CardHeader>
</Card>
