---
import Layout from "@/layouts/Layout.astro";

import Introduction from "@/components/Introduction.astro";
import AboutMe from "@/components/AboutMe.astro";
import Socials from "@/components/Socials.astro";
import Projects from "@/components/Projects.astro";
import Blog from "@/components/Blog.astro";
import TimeZone from "@/components/TimeZone.astro";
import { ModeToggle } from "@/components/ModeToggle";
import Info from "@/components/Info.astro";
import FlickeringGrid from "@/components/ui/flickering-grid";
---

<Layout title="Tahir Murata">
	<main
		class="gap-2 sm:gap-2 md:gap-3 lg:gap-4 grid md:grid-cols-3 lg:grid-cols-4 md:grid-rows-9 lg:grid-rows-8 m-auto p-2 sm:p-4 md:p-6 w-full max-w-6xl lg:h-screen lg:max-h-[800px] overflow-hidden"
	>
		<Introduction />
		<AboutMe />
		<Socials />
		<Projects />
		<Blog />
		<TimeZone />
		<ModeToggle client:load />
		<Info />
	</main>
	<FlickeringGrid
		client:load
		className="sm:block sm:[mask-image:linear-gradient(to_bottom,white,transparent)] -z-10 absolute inset-0 hidden"
		color="#3B80A1"
		maxOpacity={0.35}
		flickerChance={0.2}
	/>
</Layout>
