---
import { Card } from "@/components/ui/card";

import { CopyrightIcon } from "lucide-react";

// Obtain the version and commit hash
import { version } from "package.json";
import { GITHUB_SHA } from "astro:env/client";

interface Props {
    grids: string;
}

const { grids } = Astro.props;
---

<Card className={`overflow-hidden ${grids}`}>
    <div
        class="flex flex-col justify-center items-center gap-y-1 p-6 md:p-0 h-full text-muted-foreground text-xs"
    >
        <span class="flex items-center gap-x-1">
            <CopyrightIcon size={12} /> 2024 Tahir Murata
        </span>
        <span class="font-mono">
            {version} ({(GITHUB_SHA ?? "development").substring(0, 7)})
        </span>
    </div>
</Card>
