---
import {
    Card,
    CardDescription,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import BoxReveal from "@/components/ui/box-reveal";

interface Props {
    grids: string;
}

const { grids } = Astro.props;
---

<Card className={`relative overflow-hidden ${grids}`}>
    <!-- 
        Artwork by Gracile https://www.gracile.jp/
    -->
    <div
        class="absolute inset-0 bg-cover bg-center blur-md md:blur-sm lg:blur-none"
        style="background-image:url('/banner.webp');"
    >
    </div>
    <div class="right-0 bottom-0 absolute p-2 dark">
        <BoxReveal client:visible boxColor={"#3B80A1"} duration={0.4}>
            <p
                class="font-thin text-foreground text-xs lg:text-muted-foreground dark"
            >
                Artwork by <a
                    class="underline"
                    href="https://www.gracile.jp"
                    target="_blank">Gracile</a
                >
            </p>
        </BoxReveal>
    </div>
    <CardHeader className="relative z-10 mb-4">
        <CardDescription
            className="md:block hidden font-thin text-foreground lg:text-muted-foreground dark"
        >
            <BoxReveal client:visible boxColor={"#3B80A1"} duration={0.4}>
                <span>welcome</span>
            </BoxReveal>
        </CardDescription>
        <CardTitle
            className="!mt-0 md:!mt-1 font-extralight text-foreground text-pretty dark"
        >
            <BoxReveal client:visible boxColor={"#3B80A1"} duration={0.4}>
                <h1 class="max-w-96">
                    Hi, I'm
                    <span class="font-semibold text-nowrap">Tahir Murata</span>,
                    a backend software developer based in Japan.
                </h1>
            </BoxReveal>
        </CardTitle>
    </CardHeader>
</Card>
