---
import {
    Card,
    CardDescription,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { ArrowUpRight } from "lucide-react";

interface Props {
    grids: string;
}

const { grids } = Astro.props;

const projects = [
    {
        name: "F3S",
        link: "https://github.com/pastc/f3s",
    },
    {
        name: "Vero",
        link: "https://github.com/pastc/vero",
    },
    {
        name: "Petch",
        link: "https://github.com/pastc/petch",
    },
];
---

<Card
    className={`flex flex-col justify-between overflow-hidden group hover:cursor-pointer hover:border-muted-foreground ${grids}`}
    id="project_card"
>
    <CardHeader>
        <CardTitle className="flex flex-row justify-between">
            <span class="text-xl">Projects</span>
            <ArrowUpRight
                className="transition-transform sm:group-hover:translate-x-1 sm:group-hover:-translate-y-1 duration-200 size-6"
            />
        </CardTitle>
        <CardDescription className="!mt-3">
            <ul class="ml-5 text-foreground list-disc text-base [&>li]:mt-1">
                {
                    projects.map((project) => (
                        <li>
                            <a class="hover:underline" href={project.link}>
                                {project.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </CardDescription>
    </CardHeader>
</Card>

<script>
    const projectCard = document.getElementById("project_card");
    if (projectCard) {
        const links = projectCard.getElementsByTagName("a");

        // Add click handlers to all links to prevent event bubbling
        Array.from(links).forEach((link) => {
            link.addEventListener("click", (e) => {
                e.stopPropagation();
            });
        });

        // Add click handler to card
        projectCard.addEventListener("click", (_) => {
            window.location.href = "/projects";
        });
    }
</script>
