---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";

interface Props {
    grids: string;
}

const { grids } = Astro.props;
---

<Card className={`overflow-hidden ${grids}`}>
    <CardHeader>
        <CardTitle>Contact me</CardTitle>
    </CardHeader>
    <CardContent>
        <p class="text-muted-foreground italic">Email</p>
        <ul class="my-2">
            <li>
                <a id="c921587" class="text-muted-foreground">
                    Enable Javascript
                </a>
            </li>
        </ul>
        <p class="mt-5 text-muted-foreground italic">Socials</p>
        <ul class="my-2">
            <li>Github</li>
            <li>Gitlab</li>
            <li>Twitter</li>
        </ul>
    </CardContent>
</Card>

<script>
    import { xchacha20poly1305 } from "@noble/ciphers/chacha";
    import { managedNonce } from "@noble/ciphers/webcrypto";
    import { hexToBytes, bytesToUtf8 } from "@noble/ciphers/utils";
    const key = hexToBytes(
        "1006ee0113156d1a1d0b9843a271df3bbb20d387cf4a1dbb5a96a43e1311d220",
    );
    const chacha = managedNonce(xchacha20poly1305)(key);
    const ciphertext = new Uint8Array([
        212, 50, 71, 22, 48, 56, 136, 31, 121, 240, 252, 128, 165, 92, 101, 119,
        227, 213, 83, 68, 124, 31, 220, 155, 59, 84, 10, 254, 234, 236, 154, 70,
        140, 93, 182, 62, 63, 28, 96, 28, 143, 77, 157, 64, 48, 27, 211, 71, 63,
        195, 115, 124, 250, 127, 116, 59, 158, 13, 129, 223, 208,
    ]);
    const data_ = chacha.decrypt(ciphertext);
    const a = document.querySelector("#c921587");
    if (a && a instanceof HTMLAnchorElement) {
        a.href = `mailto:${bytesToUtf8(data_)}`;
        a.textContent = bytesToUtf8(data_);
        a.classList.remove("text-muted-foreground");
        a.classList.add("hover:underline");
    }
</script>
