---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
---

<Card
    className="relative md:col-start-2 lg:col-start-2 md:row-start-8 lg:row-start-5 overflow-hidden"
>
    <div
        class="flex flex-col justify-center items-center gap-4 p-6 md:p-0 h-full font-bold font-mono text-2xl"
    >
        <span id="clock-jst">00:00:00 JST</span>
    </div>
</Card>

<script>
    function updateClocks() {
        const now = new Date();

        // JST Time
        const jstTime = now.toLocaleTimeString([], {
            // hour: "2-digit",
            // minute: "2-digit",
            timeZone: "Asia/Tokyo",
        });

        document.getElementById("clock-jst")!.textContent = `${jstTime} JST`;
    }

    // Update clocks immediately and every second
    updateClocks();
    setInterval(updateClocks, 1000);
</script>
